{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="mb-4">Tableau de bord Administrateur</h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-calendar-alt fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Gestion des événements</h5>
                    <a href="{{ path('admin_event_index') }}" class="btn btn-primary">
                        Voir les événements
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-3x mb-3 text-success"></i>
                    <h5 class="card-title">Gestion des utilisateurs</h5>
                    <a href="#" class="btn btn-success">
                        Gérer les utilisateurs
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-ticket-alt fa-3x mb-3 text-info"></i>
                    <h5 class="card-title">Réservations</h5>
                    <a href="#" class="btn btn-info">
                        Voir les réservations
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
